.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50vh;
    margin-right: 50vh;
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    color:rgb(235, 230, 230);
}

.submit {
    background-color: rgba(44, 22, 8, 0.753);
    color:black;
    width:50vh;
    height:10vh; 
    border-radius: 5px;
}
.organise {
    position:relative;
    float: right;
    font-size: large;
    color:black;
    border-radius: 5px;
    top: 5px;
    right: 5px;
    position:absolute;
}
.time {
    position: relative;
}

#time {
    position:absolute;
    float: left;
    border-radius: 10;
    height:7vh;
    width: 15vh;
    background-color:  rgb(221, 219, 219);
    border-radius: 5px;
    top:20px;
    right:15px;
    border-color: rgb(221, 219, 219);
}

label {
    display:block;
}
#date {
    height:10vh;
    width: 50vh;
    border-radius: 10px;
    top: 100px;
}
#title {
    height:10vh;
    width: 50vh;
    border-radius: 10px;
}

#times{
    background-color: rgb(80, 80, 138);
    align-items: left;
    height:7vh;
    width: 15vh;
    border-radius: 5px;
    position:relative;
    border-color: rgb(80, 80, 138);
}

#timer{
    background-color: rgb(221, 219, 219);
    align-items: left;
    height:7vh;
    width: 15vh;
    border-radius: 5px;
    position:relative;
    border-color:  rgb(221, 219, 219);
}

.times {
    position:relative;
}

#timed{
    position:absolute;
    background-color: rgb(221, 219, 219);
    align-items: left;
    height:7vh;
    width: 15vh;
    border-radius: 5px;
    top: 35px;
    right: 15px;
    border-color:  rgb(221, 219, 219);
}
.placeholder {
    max-width: 100%;
    max-height: 100%;
    background-color: lightgray;
  }