body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #062092;
    color: #fff;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color:    rgb(84, 231, 212);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
body {
font-size: 14px;
}
.container {
width: 90%;
}
.box {
width: 45%;
}
}
/* Media query for even smaller screens */
@media (max-width: 480px) {
.box {
width: 100%;
}
}

/*
#bmi-container {
    background-color: #f1f1f1;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    margin: 0 auto;
    max-width: 200px;
    margin-right: 30px;
    position: absolute;
   /* top: 50%; /* position the content at the vertical center of the div */
   /* left: 50%; /* position the content at the horizontal center of the div */
   /* transform: translate(-50%, -50%); /* center the content */
    /*text-align: center; /* center the text horizontally */
    /*z-index: 1; /* position the content above the image */
    /*opacity: 1.5;
  }*/
    
  
 /* 
label {
  margin-right: 10px;
  font-weight: bold;
}

input[type="number"],
select {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select {
  margin-left: 5px;
}

button {
  padding: 10px 20px;
  background-color: #062092;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #062092;
}

#bmi-result {
  margin-top: 20px;
  text-align: center;
}

#bmi {
  font-size: 16px;
  font-weight: bold;
}*/

.collapsible {
  background-color: #062092;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 40px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.active, .collapsible:hover {
  background-color: #062092;
}

.content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#bmi-result {
  margin-top: 20px;
  text-align: center;
}
 /* .background-image {
  position: relative;
  height: 1200px;
  height: 100%; /* set the height of the html and body elements to 100% */
 /* margin: 0; /* remove any margins */
 /* padding: 0; /* remove any padding */
/*}

/*.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover ;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  bottom: -500px;
  
}*/
