* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
text-align:center;
text-decoration: none;
color: black;
transition: transform 0.3s, box-shadow 0.3s;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

a:hover{
	transform: scale(1.1);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	
}

.header {
	background-color:#062092;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
}

.logo img {
	border-radius: 50%;
	width: 90px; 
	height: auto;
	margin-left: 40px; 
	margin-top: -30px; 
}

.welcome p {
	color: white;
	font-size: 40px;
	text-align: center;
	padding-right: 40px;
	margin-top: 10px;
}

.search {
	background-color: #062092;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:  0px 50px; ;
}

input[type="text"] {
	padding: 20px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
	align-items: center;
	width: 350px;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button i {
	color: white;
	font-size: 20px;
}

.icons {
	background-color: #EDEDED;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 150px;
	margin-top: -30px;
	
	
}

.icon-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px;
	
}

.icon img {
	height: 100px;
	width: 100px;
}

.icon p {
	margin-top: 10px;
}

@media (max-width: 768px) {
	.icon-row {
		flex-wrap: wrap;
	}
	
	.icon {
		margin: 10px;
	}
}

/*.recommended {
	background-color: #062092;
	text-align: center;
	padding: 50px;
}

.recommended h2 {
	margin-bottom: 20px;
	color: white;
	text-align: center;
}
*/
.buttons button {
	background-color: #66AAED;
	color: white;
	padding: 10px 20px;
	font-size: 20px; 
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
	width: 300px;
}

.buttons button:hover {
	background-image: linear-gradient(
        rgb(21, 21, 180),
        rgb(84, 231, 212)
    );
}
/*.icons img:hover{*/

footer{
	margin: 0;
	padding: -50px;
	box-sizing: border-box;
	background-color: #062092;
}
.footerContainer{
	width: 100%;
	padding: 70px 30px 20px;
}
.socialIcons{
	display: flex;
	justify-content: center;
}

.socialIcons a{
	text-decoration: none;
	padding: 10px;
	background-color: white;
	margin: 10px;
	border-radius: 50%;
}

.socialIcons a i{
	font-size: 2em;
	color: #062092;
	opacity: 0.9;
}

.socialIcons a:hover{
	background-color:  rgb(84, 231, 212);
	transition: 0.5s;
}

.socialIcons a:hover{
	color:  rgb(84, 231, 212);
	transition: 0.5s;
}

.footerNav{
	margin: 30px 0;
}

.footerNav ul{
	display: flex;
	justify-content: center;
	list-style-type: none;


}

.footerNav ul li a{
	color: white;
	margin: 10px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	

}

.footerNav ul li a:hover{
	opacity: 1;
	color: rgb(84, 231, 212);

}
.footerBottom{
	background-color: white;
	text-align:center;
	width: 100%;
}
.footerBottom p{
	color:#062092;
}
.designer{
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0px 5px;
}

@media (max-width:700px){
	.footerNav ul{
		flex-direction: column;
	}
	.footerNav ul li{
		width: 100%;
		text-align: center;
		margin: 10px;
	
	}
}