* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
text-align:center;
text-decoration: none;
color: black
}

a:hover{
	background-image: linear-gradient(
        rgb(84, 231, 212),
		rgb(21, 21, 180),
        rgb(84, 231, 212)
    );
}

.header {
	background-color:#062092;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

.logo img {
	border-radius: 50%;
	width: 90px; 
	height: auto;
	
	margin-left: 40px; 
	margin-top: 10px; 
}

.welcome p {
	color: white;
	font-size: 50px;
	text-align: center;
	padding-right: 80px;
	margin-top: 10px;
}

.search {
	background-color: #062092;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:  0px 50px; ;
}

input[type="text"] {
	padding: 20px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
	align-items: center;
	width: 350px;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button i {
	color: white;
	font-size: 20px;
}

.icons {
	background-color: #EDEDED;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 150px;
	margin-top: -30px;
	
}

.icon-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px;
}

.icon img {
	height: 100px;
	width: 100px;
}

.icon p {
	margin-top: 10px;
}

@media (max-width: 768px) {
	.icon-row {
		flex-wrap: wrap;
	}
	
	.icon {
		margin: 10px;
	}
}

.recommended {
	background-color: #062092;
	text-align: center;
	padding: 50px;
}

.recommended h2 {
	margin-bottom: 20px;
	color: white;
	text-align: center;
}

.buttons button {
	background-color: #66AAED;
	color: white;
	padding: 10px 20px;
	font-size: 20px; 
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
	width: 300px;
}

.buttons button:hover {
	background-image: linear-gradient(
        rgb(21, 21, 180),
        rgb(84, 231, 212)
    );
}

.icons img:hover{

}