body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .background-image {
    background-image: url("static/pictures/istockphoto-1194395223-612x612.jpg");
    background-size: cover;
  }
  
  
  header {
    background-color: #062092;
    color: #fff;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .loader {
    margin-bottom: 20px;
  }
  
  .loading-bar {
    width: 0%;
    height: 20px;
    background-color: green;
    transition: width 1s ease-in-out;
  }
  
  .todo-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .todo-item {
    width: calc(33.3% - 20px);
    margin: 10px;
    padding: 10px;
    background-color:  #eee;
    position: relative;
  }
  
  .todo-item h3 {
    margin-top: 0;
  }
  
  .todo-item p {
    margin-bottom: 0;
  }
  
  .todo-item.completed {
    background-color:    rgb(84, 231, 212);
  }
  
  .todo-item .delete {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .todo-item .edit {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  
  .calendar {
    margin: 20px 0;
  }
  
  .add-todo {
    margin-top: 20px;
  }
  
  .add-todo input[type="submit"] {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .add-todo input[type="submit"]:hover {
    background-color: #444;
  }