* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
}

.calendar {
    font-size: 1.5rem;
}

.progress {
    background-color: rgb(6, 45, 146);
    border-radius: 25px;
    padding: 30px;
    margin-top: 5px;
    color: white;
}

.progress-container {
    display: flex;
    align-items: center;
}

.circle {
    height: 250px;
    width: 250px;
    border: 30px solid white;
    border-radius: 50%;
    position: relative;
    margin-left: 1rem;
    float: left;
}

/*.calendar {
    position: absolute;
    width: 80%;
    height: 30%;
    background-color: yellow;
    top: 35%;
    left: 10%;
}*/

h2 {
    margin-top: 1rem;
}

.schedule {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.left, .right {
    width: 48%;
}

.small, .large, .xlarge, .tiny {

    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.large {
    height: 12rem;
    background-color: rgb(196, 237, 237);
}

.xlarge {
    height: 12rem;
    background-color: #7c8fc2;
}

.tiny {
    height: 6rem;
    background-color: rgb(67, 54, 54);
    color: white;
}

.faint {
    opacity: 0.5;
}
.small {
    height: 8rem;
    background-color: rgb(237, 237, 237);
    
    
}

button.add {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-size: 2rem;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button.add:hover{
    background-image: linear-gradient(
        rgb(21, 21, 180),
        rgb(84, 231, 212)
    );
}