<IDOCTYPE html>
    <html lang="en" dir="ltr">
        <head>
            <meta charset="UTF-8">
            <title>Responsive Our Team Section I CodingLab </title>
            <link rel="stylesheet" href="style.css">
            <!--Fontawesome CDN link-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
             <meta name="viewport" content="width=device-width, initial-scale=1.0">
            </head>
    <body>
        <div class="container">
            <div class="main-card">
                <div class="cards">
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="" alt="">

                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
            

        </div>





    </body>
    </html>