<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/create_plan.css">
    <script defer src="static/script/create_plan.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <script src="https://kit.fontawesome.com/2e8c00bec5.js" crossorigin="anonymous"></script> 
    <title>Meal Planner</title>
</head>
<body>
    <p><h3>&mdash; CREATE MEAL PLAN &mdash; </h3></p>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Breakfast</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
            </tr>
            <tr>
                <td>Lunch</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
            </tr>
            <tr>
                <td>Dinner</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
                <td>+</td>
            </tr>
        </tbody>
    </table>
    <!-- Add a Save button -->
    <button id="save-button">Save</button>
<script src="static/script/create_plan.js"></script>
</body>
</html>