<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitZone</title>
    <link rel="stylesheet" href="static/css/fitzone.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="static/pictures/dumbell 2.png" alt="FitZone Logo" class="logo">
            <h1>FitZone</h1>
        </div>
        <nav>
            <ul>
                <h3><li><a href="#workout-tracking">Workout Tracker</a></li></h3>
                <h3><li><a href="#personalized-workout-plans">Workout Plan</a></li></h3>
                <h3><li><a href="#exercise-library">Exercise Library</a></li></h3>
            </ul>
        </nav>
    </header>
    <main>
        <section id="workout-tracking">
            <!-- Add workout tracking content here -->
        </section>
        <section id="personalized-workout-plans">
            <!-- Add personalized workout plans content here -->
        </section>
        <section id="exercise-library">
            <!-- Add exercise library content here -->
        </section>
    </main>
    <script src="static/script/fitzone.js"></script>
</body>
</html>