<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static\css\part.css" rel="stylesheet">
    <title>Document</title>
</head>
<body >
    <div class="container">
    <p class="organise">Be Productive</p><br><br>
    <strong class="organise">Add Schedule</strong>
    <form>
        <div class="form">
            <div class="placeholder"> 
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="Group Meeting (Zoom)">
            </div>
            <br><br>
            <div>
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" min="2022-01-01" max="2024-12-31"><br><br>
            <div class="time">
                    <label for="times">Time:</label>
                <input type="time" id="times" name="time" min="08:00" max="18:00" >
                    <label for="time">Time:</label>
                <input type="time" id="time" name="time" min="08:00" max="18:00" >
            </div>
           <div class="time">
                <label for="timed">Time:</label>
                <input type="time" id="timed" name="time" min="08:00" max="18:00">
                <label for="time">Time:</label>
                <input type="time" id="time" name="time" min="08:00" max="18:00"><br><br>
            </div>
                <button type="submit" class="submit">Add Schedule</button>
            </div>
        </div>
      </form>
</body>
</html>