<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static\css\home.css">
	<script>
        document.addEventListener('DOMContentLoaded', function() {
            var successModal = new bootstrap.Modal(document.getElementById('success-modal'));

            // Show the success modal
            successModal.show();

            // Hide the success modal after 5 seconds
            setTimeout(function() {
                successModal.hide();
            }, 5000);
        });
    </script>
	<title>CampusCare365-Home</title>
</head>
<body>
	<div class="modal fade" id="success-modal" tabindex="-1" aria-labelledby="success-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="success-modal-label">Success!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Hi {{firstname}}, Your login was successful.
                </div>
            </div>
        </div>
    </div>
	<div class="header">
		<div class="logo">
			<img src="static\pictures\Logo.jpg" alt="Your logo">
		</div>
		<div class="welcome">
			<p>{{firstname}}</p>

		</div>
	</div>
	<div class="icons">
		<div class="icon-row">
			<div class="icon">
				<a href="/meal-mate">
				<img src="static\pictures\meal mate.png" alt="Icon 3">
				<p>Meal Mate</p>
				</a>
			</div>
		
			<div class="icon">
				<a href="/planner">
				<img src="static\pictures\plan-removebg-preview (1).png" alt="Icon 2">
				<p>Planner</p>
				</a>
			</div>
			
			<div class="icon">
				<a href="/settings">
				<img src="static/pictures/profilepic-removebg-preview.png" alt="Icon 6">
				<p>Profile</p>
				</a>
			</div>
		</div>
	</div>
<footer>
	<div class="footerContainer">
		<div class="socialIcons">
			<a href=""><i class="fa-brands fa-facebook"></i></a>
			<a href=""><i class="fa-brands fa-instagram"></i></a>
			<a href=""><i class="fa-brands fa-twitter"></i></a>
			<a href=""><i class="fa-brands fa-google-plus"></i></a>
			<a href=""><i class="fa-brands fa-youtube"></i></a>
		</div>
		<div class="footerNav">
			<ul>
				<li><a href="/team">About Us</a></li>
				<li><a href="">Contact Us</a></li>
				<li><a href="">Our Team</a></li>
			</ul>
		</div>
		<div class="footerBottom">
			<p>Copyright &copy;2023; Designed by <span class="designer">Team Campuscare365</span></p>
		</div>
	</div>
</footer>
</body>
</html>