<!DOCTYPE html>
<html>
<head>
	<title>CampusCare365-Meal</title>
	<link rel="stylesheet" type="text/css" href="static/css/meal.css">
</head>
<body>


<header>
<div class="dropdown">
    <button class="dropdown-btn">&#8801;</button>
    <div class="dropdown-menu">
    <a href="#">Recipes</a>
    <hr>
    <a href="#">Meal Plan</a>
    <hr>
    <a href="#">Generate Meal Plan</a>
    <hr>
    <a href="#">Order a Meal</a>
    </div>
</div>

<div class="logo">
    <img src="static/pictures/meal mate.png" alt="Meal Mate Logo">
    <div class="logo-text">
    <div class="logo-name">Meal Mate</div>
    <div class="logo-slogan">Healthy Meals for You</div>
    </div>
</div>

<div class="center">
    <div class="search">
    <input type="text" placeholder="Search...">
    </div>
</div>
</header>

<div class="slideshow">
    <div class="slideshow-title active" data-tab="food">Food</div>
    <div class="slideshow-title" data-tab="drinks">Drinks</div>
    <div class="slideshow-title" data-tab="snacks">Snacks</div>
    <div class="slideshow-title" data-tab="sauce">Sauce</div>
    <div class="slideshow-content active" data-tab="food">
        <!-- Insert food content here -->
        <img src="food.jpg" alt="Food">
        <p>Some text about food.</p>
    </div>
    <div class="slideshow-content" data-tab="drinks">
        <!-- Insert drinks content here -->
        <img src="drinks.jpg" alt="Drinks">
        <p>Some text about drinks.</p>
    </div>
    <div class="slideshow-content" data-tab="snacks">
        <!-- Insert snacks content here -->
        <img src="snacks.jpg" alt="Snacks">
        <p>Some text about snacks.</p>
    </div>
    <div class="slideshow-content" data-tab="sauce">
        <!-- Insert sauce content here -->
        <img src="sauce.jpg" alt="Sauce">
        <p>Some text about sauce.</p>
    </div>
</div>
<script src="static/script/meal.js"></script>

</body>
</html>