<!DOCTYPE html>
<html>
<head>
    <title>Grid Food Menu</title>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="static/css/meal.css">
</head>


<header>
    <div class="dropdown">
        <button class="dropdown-btn">&#8801;</button>
        <div class="dropdown-menu">
        <a href="/recipes">Recipes</a>
        <hr>
        <a href="#">Meal Plan</a>
        <hr>
        <a href="#">Generate Meal Plan</a>
        <hr>
        <a href="#">Order a Meal</a>
        </div>
    </div>
    <div class="logo">
        <img src="static/pictures/meal mate.png" alt="Meal Mate Logo">
        <div class="logo-text">
        <div class="logo-name">Meal Mate</div>
        <div class="logo-slogan">Healthy Meals for You</div>
        </div>
    </div>
    </header>

<body>

    <div class="menu">
        <div class="heading">
            <h1>BITE-SIZE DELIGHTS</h1>
            <h3>&mdash; SPECIAL RECIPES MADE FOR YOU &mdash; </h3>

        </div>

        

        <div class="food-items">
            <img src="static/pictures/jollof.jpg">
            <div class="details">
                <div class="details-sub">
                    <h5>Jollof Rice</h5>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit reiciendis nam non quia! Earum eveniet minus. Facilis explicabo natus nihil voluptatem eveniet pariatur.</p>
                <button>View</button>
            </div>
        </div>

        <div class="food-items">
            <img src="static/pictures/top-view-vegetable-soup-with-meat-inside-plate-grey_140725-36040.avif">
            <div class="details">
                <div class="details-sub">
                    <h5>Honey Garlic Chicken</h5>
                    <h5 class="price"> 30 mins </h5>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit dolor sit amet consectetur adipisicing elit.</p>
                <button>View</button>
            </div>
        </div>

        <div class="food-items">
            <img src="static/pictures/potatoes.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Manchow Soup</h5>
                    <h5 class="price"> 30 mins </h5>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus quibusdam facilis, magni consectetur necessitatibus.</p>
                <button>View</button>
            </div>
        </div>

        <div class="food-items">
            <img src="Spaghetti.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Basil Pesto Spaghetti</h5>
                    <h5 class="price"> 30 mins </h5>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
                <button>View</button>
            </div>
        </div>

        <div class="food-items">
            <img src="salmon.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Roast Salmon</h5>
                    <h5 class="price"> 30 mins </h5>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
                <button>View</button>
            </div>
        </div>

        <div class="food-items">
            <img src="Sandwich.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>BBQ Sandwich</h5>
                    <h5 class="price"> 30 mins </h5>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus reiciendis nam non quia! Earum eveniet quia minus nemo.</p>
                <button>View</button>
            </div>
        </div>
    </div>
    <script src="static/script/meal.js"></script>
</body>
</html>