<IDOCTYPE html>
    <html lang="en" dir="ltr">
        <head>
            <meta charset="UTF-8">
            <title>Responsive Our Team Section I CodingLab </title>
            <link rel="stylesheet" href="static/css/Our_team.css">
            <!--Fontawesome CDN link-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
            <!--Stylesheet-->
            <script src="https://kit.fontawesome.com/2e8c00bec5.js" crossorigin="anonymous"></script> 
             <meta name="viewport" content="width=device-width, initial-scale=1.0">
            </head>
    <body>
        <div class="heading">
            <h1>MEET OUR TEAM</h1>
        </div>
        <div class="container">
            <div class="main-card">
                <div class="cards">
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="static/pictures/WhatsApp Image 2023-06-14 at 23.29.13.jpg" alt="">
                            </div>
                            <div class="details">
                                <div class="name">Dodzi Gyamposu</div>
                                <div class="job">Fullstack Developer</div> 
                            </div>
                            <div class="media-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="static/pictures/" alt="">
                            </div>
                            <div class="details">
                                <div class="name">Divine Emmanuel</div>
                                <div class="job">Backend Developer</div> 
                            </div>
                            <div class="media-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="static/pictures/942a28e2-f5f8-429f-87ed-cd35127f44b1 (1).jpg" alt="">
                            </div>
                            <div class="details">
                                <div class="name">Prince<br>Fia-Donkor</div>
                                <div class="job">Frontend Developer</div> 
                            </div>
                            <div class="media-icons">
                                <a href="https://web.facebook.com/david.mcbrown.16"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/fia_donkor"><i class="fab fa-twitter"></i></a>
                                <a href="www.linkedin.com/in/prince-fia-donkor"><i class="fab fa-linkedin"></i></a>
                                <a href="https://github.com/pyfiadonkor1"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                        

                    </div>


                
                </div>
            </div>
            

        </div>

    </body>
    </html>