<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Planner App</title>
<link rel="stylesheet" href="static\css\planner.css">
</head>
<body>
    <header>
        <h1>Planner</h1>
        <span class="calendar">&#128197;</span>
    </header>
    <section class="progress">
        <div class="progress-container">
            <p><h2>Excellent! Your today's plan is underway...</h2></p>
            <div class="circle">
                <div class="loading-circle"></div>
            </div>
        </div>
    </section>
    <h2>Today's Schedule</h2>
    <section class="schedule">
        <div class="left">
            <div class="small">
                <p>Meeting Preparation</p>
                <p>Time : 2:45pm-3:00pm</p>
            </div>
            <div class="large">
                <p>Attend an Online Class</p>
                <p>Time : 3:00pm-4:00pm</p>
                <p>Zoom - Kibo school</p>
            </div>
        </div>
        <div class="right">
            <div class="xlarge">
                <p>order from meal-mate</p>
                <p>Time : 6:45am-7:00am</p>
            </div>
            <div class="tiny">
                <p>View more</p>
                <p class="faint">+3 Schedules</p>
            </div>
        </div>
    </section>
    <button class="add"><a href="/schedule">+</a></button>
</body>
</html>