<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <link href="static\css\recipe.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container" >
        <h2>Menu for Dinner</h2>
        <h2>Honey Roasted <br>potato</h2>
        <img src="static\pictures\potatoes.jpeg" alt="Potato" id="potato">
        <img src="static\pictures\clocks.jpg" id="clock">
        <h4>30 mins</h4>
    </div>
    <h1>Meal Category</h1>
    <div class="slideshow">
        <div class="slideshow-title active" data-tab="dinner">Dinner</div>
        <div class="slideshow-title" data-tab="lunch">Lunch</div>
        <div class="slideshow-title" data-tab="breakfast">Breakfast</div>
        <div class="slideshow" data-tab="dinner">
        <div class="dive">
            <img src="static\pictures\fried-rice-plate-white-wooden-floor_1150-28473.avif" alt="fried rice" class="pix">
            <h2 class="foood">Fried Rice</h2>
        </div>
        <div class="dive">
            <img src="static\pictures\noodles.jpg" alt="noodles" class="pix">
            <h2 class="food">Chicken Noodles</h2>
        </div>
        <div class="dive">
            <img src="static\pictures\amala.jpeg" alt="noodles" class="pix"><br>
            <h2 class="food">Amala and Ewedu</h2>
        </div>
        <div class="slideshow-content active" data-tab="lunch">
            <p>food for Lunch</p>
        </div>
    </div>
    <sript src="static\script\meal.js"></sript>
</body>
</html>