<!DOCTYPE html>
<html>
<head>
    <title>My Schedule</title>
    <link rel="stylesheet" type="text/css" href="static\css\schedule.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h3 class="faint">Be Productive</h3>
            <h1>Add Schedule</h1>
        </div>

    </header>

    <div class="main-container">
        <div class="schedule-title">
            <label for="title">Schedule Title</label>
            <input type="text" id="title" name="title" placeholder="Enter title here">
        </div>

        <div class="date-selection">
            <label for="date">Date</label>
            <input type="date" id="date" name="date">
            <input type="submit" value="Select Date">
        </div>

        <div class="time-selection">
            <label for="time">Time</label>
            <input type="time" id="time" name="time">
            <input type="submit" value="Select Time">
        </div>

        <button>Add Schedule</button>
    </div>


</body>
</html>